<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>BMI</title>
  <link rel="stylesheet" href="style.css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body text-align="center">
<div class="test">
  <p>TWOJE BMI</p>
  <p th:text="${weight}" />
  <p th:text="${height}" />
  <p th:text="${nadwaga}" />
  <p th:text="${bmi}" />
  <p th:text="${data}" />
</div>
<div class="abt">
  <a href="index">Powrót</a>
</div>
</body>
</html>